{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<main class="min-vh-100 d-flex justify-content-center align-items-center p-5">

		<div class="p-4">
			<div class="p-4 border border-secondary rounded">
				{{ form_start(form) }}
				<h1 class="h3 mb-3">Se connecter</h1>

				<div class="mb-3">
					{{ form_row(form.email) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.password) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.login) }}
				</div>
				{{ form_end(form) }}
			</div>
			<div class="p-2 text-center">
				<a href="{{ path('home')}}">Retour</a>
			</div>
		</div>
	</main>

{% endblock %}
